pkgbase = yttext
	pkgdesc = A lightweight CLI tool for fetching and saving YouTube video transcripts.
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Asaduddeenamr2006/yt-transcript-tool
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	depends = python
	depends = python-youtube-transcript-api
	source = https://codeload.github.com/Asaduddeenamr2006/yt-transcript-tool/tar.gz/refs/tags/v1.0.0
	sha256sums = 60eb2190d909bb95a6ea6d244d6dac0b2c9d2438911fdab42108cdf25693a78e

pkgname = yttext
